[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest
[submodule "ui/lib/K-Editor"]
	path = ui/lib/K-Editor
	url = https://github.com/DraqzzIQ/K-Editor.git
